p
{
	color:#0000FF;
	font-size:14pt;
	font-weight:bold;
	font-family:Courier;
}

.encabezado{
	background:deepskyblue;
	color:floralwhite;
	width:90%;
	border-radius:15px;

}

.boton_azul{
	background:blue;
	color:white;
	font-size:16pt;
	width:150px;
	border-radius:10px;
}

.campo{
	background:lightblue;
	color:white;
	font-size:16pt;
	font-weight:bold;
	border-radius:10px;
	text-align:center;

}

.boton_azul:hover{
	background:white;
	color:blue;
}

.boton_amarillo{
	background:yellow;
	color:black;
	font-size:16pt;
	width:150px;
	border-radius:10px;
}

.boton_amarillo:hover{
	background:white;
	color:gold;
}

.boton_rojo{
	background:red;
	color:white;
	font-size:16pt;
	width:150px;
	border-radius:10px;
}

.boton_rojo:hover{
	background:white;
	color:red;
}
